<form class="form-horizontal" role="form" name="form" novalidate ng-submit="model.save()">
  <div class="row">
    <div class="form-group">
      <label for="standard" class="col-sm-3 control-label"><span translate>Standard member</span></label>

      <div class="col-sm-5">
        <div ng-class="{'custom-select': model.viewMode}">
          <select class="form-control"
                  ng-focus="model.viewMode=false; model.setShowHelp('standard')"
                  id="standard"
                  name="standard"
                  ng-options="status.name as status.text | translate for status in model.options.standard"
                  ng-model="model.data.thisUser.memberships.standard">
          </select>
        </div>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.standard"><span translate>Member type help text</span></div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="renter" class="col-sm-3 control-label"><span translate>Renter</span></label>

      <div class="col-sm-5">
        <div ng-class="{'custom-select': model.viewMode}">
          <select class="form-control"
                  ng-focus="model.viewMode=false; model.setShowHelp('renter')"
                  id="renter"
                  name="renter"
                  ng-options="status.name as status.text | translate for status in model.options.renter"
                  ng-model="model.data.thisUser.memberships.renter">
          </select>
        </div>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.renter"><span translate>Member type help text</span></div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="helper" class="col-sm-3 control-label"><span translate>Helper</span></label>

      <div class="col-sm-5">
        <div ng-class="{'custom-select': model.viewMode}">
          <select class="form-control"
                  ng-focus="model.viewMode=false; model.setShowHelp('helper')"
                  id="helper"
                  name="helper"
                  ng-options="status.name as status.text | translate for status in model.options.helper"
                  ng-model="model.data.thisUser.memberships.helper">
          </select>
        </div>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.helper"><span translate>Member type help text</span></div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="house" class="col-sm-3 control-label"><span translate>House</span></label>

      <div class="col-sm-5">
        <div ng-class="{'custom-select': model.viewMode}">
          <select class="form-control"
                  ng-focus="model.viewMode=false; model.setShowHelp('house')"
                  id="house"
                  name="house"
                  ng-options="status.name as status.text | translate for status in model.options.house"
                  ng-model="model.data.thisUser.memberships.house">
          </select>
        </div>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.house"><span translate>Member type help text</span></div>
    </div>
  </div>
</form>
