<div class="row" ng-hide="model.otherUser() && model.emptyMembershipValue(model.data.thisUser.memberships.standard)">
  <div class="form-group">
    <label for="standard" class="col-sm-3 control-label"><span translate>Standard member</span></label>

    <div class="col-sm-5">
      <div ng-class="{'custom-select': model.viewMode}">
        <select class="form-control"
                ng-focus="model.setViewMode(false); model.setShowHelp('standard'); model.membershipFocus=true;"
                ng-blur="model.membershipFocus=false;"
                ng-disabled="model.otherUser()"
                ng-class="{'no-extras': model.viewMode}"
                id="standard"
                name="standard"
                ng-options="status.name as status.text | translate for status in model.options.standard"
                ng-model="model.data.thisUser.memberships.standard">
        </select>
      </div>
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.standard"><span translate>Member type help text</span>
    </div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.emptyMembershipValue(model.data.thisUser.memberships.standard)">
  <div class="form-group">
    <label for="manager" class="col-sm-3 control-label">Manager of standard membership</label>

    <div class="col-sm-5">
      <input type="radio"
             id="manager"
             ng-focus="model.setViewMode(false); model.setShowHelp('standard')"
             ng-model="model.thisUserManager"
             ng-checked="!model.data.thisUser.managerUserId"
             ng-disabled="model.otherUser()"
             ng-click="model.data.thisUser.managerUserId=''"
             value="myself"> Myself
      <input type="radio"
             ng-focus="model.setViewMode(false); model.setShowHelp('standard')"
             ng-model="model.thisUserManager"
             ng-disabled="model.otherUser()"
             ng-checked="model.data.thisUser.managerUserId"
             value="other"> Other<span ng-show="model.data.thisUser.managerUserId">: {{model.data.findUser(model.data.thisUser.managerUserId).profile.fullName}}</span>
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.standard">Who will manage the membership?<br>Must be a registered user.
    </div>
  </div>
</div>
<div class="row" ng-show="!model.otherUser && (model.data.thisUser.managerUserId || model.thisUserManager === 'other')">
  <div class="col-sm-5 col-sm-offset-3">
    <div class="form-group">
      <input type="text"
             ng-model="model.query"
             ng-focus="model.setViewMode(false); model.setShowHelp('standard')"
             class="form-control"
             placeholder="Find a user">
    </div>
  </div>
  <div class="col-sm-4 help-block" ng-show="model.showHelp.standard">
    Just start typing something user-related, like a name...
  </div>
</div>
<div class="row">
  <div class="col-sm-5 col-sm-offset-3">
    <ul class="list-unstyled" ng-show="model.query">
      <li ng-repeat="userData in model.data.usersArray | filter:model.query | orderBy:profile.fullName | limitTo: 3">
        <a href="" ng-click="model.data.thisUser.managerUserId=userData.userId; model.query='';">
          {{userData.profile.fullName}} ({{userData.profile.username}}), {{userData.profile.address}}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-4 help-block"></div>
</div>
<div class="row" ng-hide="model.otherUser() && model.emptyMembershipValue(model.data.thisUser.memberships.renter)">
  <div class="form-group">
    <label for="renter" class="col-sm-3 control-label"><span translate>Renter</span></label>

    <div class="col-sm-5">
      <div ng-class="{'custom-select': model.viewMode}">
        <select class="form-control"
                ng-focus="model.setViewMode(false); model.setShowHelp('renter'); model.membershipFocus=true;"
                ng-blur="model.membershipFocus=false;"
                ng-class="{'no-extras': model.viewMode}"
                id="renter"
                name="renter"
                ng-options="status.name as status.text | translate for status in model.options.renter"
                ng-model="model.data.thisUser.memberships.renter">
        </select>
      </div>
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.renter"><span translate>Member type help text</span></div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.emptyMembershipValue(model.data.thisUser.memberships.helper)">
  <div class="form-group">
    <label for="helper" class="col-sm-3 control-label"><span translate>Helper</span></label>

    <div class="col-sm-5">
      <div ng-class="{'custom-select': model.viewMode}">
        <select class="form-control"
                ng-focus="model.setViewMode(false); model.setShowHelp('helper'); model.membershipFocus=true;"
                ng-blur="model.membershipFocus=false;"
                ng-class="{'no-extras': model.viewMode}"
                id="helper"
                name="helper"
                ng-options="status.name as status.text | translate for status in model.options.helper"
                ng-model="model.data.thisUser.memberships.helper">
        </select>
      </div>
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.helper"><span translate>Member type help text</span></div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.emptyMembershipValue(model.data.thisUser.memberships.house)">
  <div class="form-group">
    <label for="house" class="col-sm-3 control-label"><span translate>House</span></label>

    <div class="col-sm-5">
      <div ng-class="{'custom-select': model.viewMode}">
        <select class="form-control"
                ng-focus="model.setViewMode(false); model.setShowHelp('house'); model.membershipFocus=true;"
                ng-blur="model.membershipFocus=false;"
                ng-class="{'no-extras': model.viewMode}"
                id="house"
                name="house"
                ng-options="status.name as status.text | translate for status in model.options.house"
                ng-model="model.data.thisUser.memberships.house">
        </select>
      </div>
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.house"><span translate>Member type help text</span></div>
  </div>
</div>
