<div class="row" ng-hide="model.data.thisUserUsername === model.user.account.username">
  <div class="form-group">
    <label for="username" class="col-sm-3 control-label">Username</label>

    <div class="col-sm-5">
      <!--
          Usernames are changed under the account-tab, which is only accessable by the owner.
          Todo: If never actually an input-field, then make it something different with the same look and feel...
          Or maybe not? Then it could be argued that this also applies for the elements that are in view-mode,
          and then I would need to have two sets of code, one for view and one for edit...
      -->
      <input type="text"
             class="form-control"
             disabled
             ng-class="{'no-extras': true}"
             id="username"
             name="username"
             ng-model="model.data.thisUser.profile.username">
    </div>
    <div class="col-sm-4 help-block"></div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.isEmpty(model.data.thisUser.profile.fullName)">
  <div class="form-group">
    <label for="fullName" class="col-sm-3 control-label">Full name</label>

    <div class="col-sm-5">
      <input type="text"
             class="form-control"
             ng-disabled="model.otherUser()"
             ng-class="{'no-extras': model.viewMode}"
             ng-focus="model.setViewMode(false); model.setShowHelp('fullName')"
             id="fullName"
             name="fullName"
             placeholder="Your full name"
             ng-model="model.data.thisUser.profile.fullName">
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.fullName">Your full name</div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.isEmpty([model.data.thisUser.profile.email,
                                         model.data.thisUser.profile.phone,
                                         model.data.thisUser.profile.address])">
  <!--
      Todo:Should perhaps change Bootstraps form-group to something else for things that are not actually form-fields?
      Here and a few other places...
  -->
  <div class="form-group">
    <label class="col-sm-3 control-label">Main contact info:</label>

    <div class="col-sm-9"></div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.isEmpty(model.data.thisUser.profile.email)">
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email</label>

    <div class="col-sm-5">
      <input type="text"
             class="form-control"
             ng-disabled="model.otherUser()"
             ng-class="{'no-extras': model.viewMode}"
             ng-focus="model.setViewMode(false); model.setShowHelp('email')"
             id="email"
             name="email"
             placeholder="Your main email address"
             ng-model="model.data.thisUser.profile.email">
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.email">Main email address. Note: May be different from the
      account email address
    </div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.isEmpty(model.data.thisUser.profile.phone)">
  <div class="form-group">
    <label for="phone" class="col-sm-3 control-label">Phone</label>

    <div class="col-sm-5">
      <input type="text"
             class="form-control"
             ng-disabled="model.otherUser()"
             ng-class="{'no-extras': model.viewMode}"
             ng-focus="model.setViewMode(false); model.setShowHelp('phone')"
             id="phone"
             name="phone"
             placeholder="Enter your phone number"
             ng-model="model.data.thisUser.profile.phone">
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.phone">Main phone number</div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.isEmpty(model.data.thisUser.profile.address)">
  <div class="form-group">
    <label for="address" class="col-sm-3 control-label">Address</label>

    <div class="col-sm-5">
      <input type="text"
             class="form-control"
             ng-disabled="model.otherUser()"
             ng-class="{'no-extras': model.viewMode}"
             ng-focus="model.setViewMode(false); model.setShowHelp('address')"
             id="address"
             name="address"
             placeholder="Enter your full postal address"
             ng-model="model.data.thisUser.profile.address">
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.address">Main full postal address for sending mail</div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.isEmpty([model.data.thisUser.profile.email2,
                                         model.data.thisUser.profile.phone2,
                                         model.data.thisUser.profile.address2])">
  <div class="form-group">
    <label class="col-sm-3 control-label">Optional second contact info:</label>

    <div class="col-sm-9"></div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.isEmpty(model.data.thisUser.profile.email2)">
  <div class="form-group">
    <label for="email2" class="col-sm-3 control-label">Email</label>

    <div class="col-sm-5">
      <input type="text"
             class="form-control"
             ng-disabled="model.otherUser()"
             ng-class="{'no-extras': model.viewMode}"
             ng-focus="model.setViewMode(false); model.setShowHelp('email2')"
             id="email2"
             name="email2"
             placeholder="Enter an optional secondary email address"
             ng-model="model.data.thisUser.profile.email2">
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.email2">Optional email address, like you office
      email
    </div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser() && model.isEmpty(model.data.thisUser.profile.phone2)">
  <div class="form-group">
    <label for="phone2" class="col-sm-3 control-label">Phone</label>

    <div class="col-sm-5">
      <input type="text"
             class="form-control"
             ng-disabled="model.otherUser()"
             ng-class="{'no-extras': model.viewMode}"
             ng-focus="model.setViewMode(false); model.setShowHelp('phone2')"
             id="phone2"
             name="phone2"
             placeholder="Enter an optional second phone number"
             ng-model="model.data.thisUser.profile.phone2">
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.phone2">Optional phone number, like office phone
    </div>
  </div>
</div>
<div class="row" ng-hide="model.otherUser && model.isEmpty(model.data.thisUser.profile.address2)">
  <div class="form-group">
    <label for="address2" class="col-sm-3 control-label">Address</label>

    <div class="col-sm-5">
      <input type="text"
             class="form-control"
             ng-disabled="model.otherUser()"
             ng-class="{'no-extras': model.viewMode}"
             ng-focus="model.setViewMode(false); model.setShowHelp('address2')"
             id="address2"
             name="address2"
             placeholder="Enter an optional second postal address, like holiday house address"
             ng-model="model.data.thisUser.profile.address2">
    </div>
    <div class="col-sm-4 help-block" ng-show="model.showHelp.address2">Optional postal address, like address on
      Storfosna if your primary address is different
    </div>
  </div>
</div>
