<div class="row">
  <div class="col-sm-12">
    <h3>Our fancy web app</h3>

    <div ng-hide="model.user.authenticated">Logged in users can do more!</div>

    <div ng-show="model.user.authenticated">
      <p>You can below browse other users, or you can <a href="#/user/{{model.user.account.username}}">edit your own
        info</a>.
      </p>

      <form class="form-inline" role="form">
        <div class="form-group">
          <input type="text"
                 ng-model="model.query"
                 ng-focus="model.showHelpQuery = true"
                 class="form-control"
                 id="query"
                 placeholder="Enter search text">
          <span class="help-block" ng-show="model.showHelpQuery">
            Search in any field, also those not visible in the list below
          </span>
        </div>
      </form>

      <br>
      <table class="table">
        <tr>
          <th><a href="" ng-click="model.sortField = 'profile.fullName'; model.reverse = !model.reverse">Name</a></th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone</th>
          <th><a href="" ng-click="model.sortField = 'lastModified'; model.reverse = !model.reverse">Last modified</a>
          </th>
        </tr>
        <tr ng-repeat="userData in model.data.usersArray | filter:model.query | orderBy:model.sortField:model.reverse">
          <td><a href="#/user/{{userData.profile.username}}">{{userData.profile.fullName}}</a></td>
          <td><a href="#/user/{{userData.profile.username}}">{{userData.profile.address}}</a></td>
          <td><a href="#/user/{{userData.profile.username}}">{{userData.profile.email}}</a></td>
          <td><a href="#/user/{{userData.profile.username}}">{{userData.profile.phone}}</a></td>
          <td><a href="#/user/{{userData.profile.username}}">{{userData.lastModified | date:'dd-MM-yyyy, HH:mm'}}</a></td>
        </tr>
      </table>
      </div>
  </div>
</div>
