<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Yacht Club</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse" collapse="navCollapsed  && 'in'" ng-click="navCollapsed=true">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: nav.isActive('/')}"><a href="#/">Home</a></li>
        <li><img ng-show="nav.showWaitingForServer" src="/spinner.gif"></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: nav.isActive('/user/'+user.account.username)}"
            ng-show="user.authenticated"><a href="#/user/{{user.account.username}}">{{user.account.username}}&nbsp;overview</a></li>
        <li ng-class="{ active: nav.isActive('/user/login')}"
            ng-hide="user.authenticated"><a href="#/user/login">Login</a></li>
        <li ng-class="{ active: nav.isActive('/user/create')}"
            ng-hide="user.authenticated"><a href="#/user/create">Register</a></li>
        <li ng-show="user.authenticated"><a href="#/user/logout" ng-click="nav.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
