<div ng-include="'user/timestamps.html'"></div>
<form class="form-horizontal" role="form" name="form" novalidate ng-submit="model.save()">
  <div class="row">
    <div class="form-group">
      <label for="member" class="col-sm-3 control-label">Member</label>
      <div class="col-sm-5">
        <label>
          <input type="checkbox"
               ng-focus="model.setViewMode(false); model.setShowHelp('member')"
               id="member"
               name="member"
               ng-model="model.data.member">
        </label>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.member">Pending admin approval</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="renter" class="col-sm-3 control-label">Renter</label>
      <div class="col-sm-5">
        <label>
          <input type="checkbox"
                 ng-focus="model.setViewMode(false); model.setShowHelp('renter')"
                 id="renter"
                 name="renter"
                 ng-model="model.data.renter">
        </label>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.renter">Pending admin approval</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="supporter" class="col-sm-3 control-label">Supporting member</label>
      <div class="col-sm-5">
        <label>
          <input type="checkbox"
                 ng-focus="model.setViewMode(false); model.setShowHelp('supporter')"
                 id="supporter"
                 name="supporter"
                 ng-model="model.data.supporter">
        </label>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.supporter">Since you are so kind :)</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="houseCommittee" class="col-sm-3 control-label">House Committee</label>
      <div class="col-sm-5">
        <label>
          <input type="checkbox"
                 ng-focus="model.setViewMode(false); model.setShowHelp('houseCommittee')"
                 id="houseCommittee"
                 name="houseCommittee"
                 ng-model="model.data.houseCommittee">
        </label>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.houseCommittee">Volunteer work of some kind...</div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="helper" class="col-sm-3 control-label">Helper</label>
      <div class="col-sm-5">
        <label>
          <input type="checkbox"
                 ng-focus="model.setViewMode(false); model.setShowHelp('helper')"
                 id="helper"
                 name="helper"
                 ng-model="model.data.helper">
        </label>
      </div>
      <div class="col-sm-4 help-block" ng-show="model.showHelp.helper">Volunteer work of some kind...</div>
    </div>
  </div>
</form>
