<div class="row">
  <div class="form-group">
    <label for="membership.status" class="col-sm-3 control-label">Status</label>

    <div class="col-sm-5">
      <select class="form-control"
              id="membership.status"
              name="membership.status"
              ng-options="status.name as status.text for status in details.membership.statusOptions"
              ng-model="details.membership.current.status">
      </select>
    </div>
    <div class="col-sm-4 help-block"></div>
  </div>
</div>
<div class="row">
  <div class="form-group">
    <label for="membership.fullName" class="col-sm-3 control-label">Managers full name</label>

    <div class="col-sm-5">
      <input type="text"
             class="form-control"
             id="membership.fullName"
             name="membership.fullName"
             placeholder="Managers full name"
             ng-model="details.membership.current.fullName">
    </div>
    <div class="col-sm-4 help-block"></div>
  </div>
</div>
